{% extends "base.html" %}

{% block titulo %}<h1>Login</h1>{% endblock %}

{% block contenido %}



<form action="/login" method="post">
    <fieldset>
        <label for="usuario">
            Usuario:
            <input type="text" name="usuario" id="usuario" value="{{ usuario or ''}}">
        </label><br>
        <label for="password">
            Contraseña:
            <input type="password" name="password" id="password">
        {%if error %}
            <p style="color: red;">{{error}}</p>
        {% endif %}
        <br>
        <button type="submit">Enviar</button>
    </fieldset>
</form>

{% endblock %}